@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

:root {
  --bg: #ffffff;
  --text: #000000;
  --card-bg: #f7f7f7;
  --btn-bg: #0d6efd;
  --btn-hover: #0b5ed7;
  --delete-bg: #dc3545;
  --delete-hover: #c82333;
  --border: #ccc;
}


body.dark {
  --bg: #121212;
  --text: #ffffff;
  --card-bg: #1e1e1e;
  --btn-bg: #007bff;
  --btn-hover: #0056d2;
  --delete-bg: #ff4d4d;
  --delete-hover: #e63946;
  --border: #555;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: var(--bg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  color: var(--text);
  transition: all 0.3s ease;
}

.container {
  background-color: var(--card-bg);
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 450px;
  transition: all 0.3s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  color: var(--text);
}

#themeToggle {
  background-color: var(--btn-bg);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#themeToggle:hover {
  background-color: var(--btn-hover);
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 12px;
  font-size: 16px;
  border: 2px solid var(--btn-bg);
  border-radius: 8px;
  outline: none;
  background-color: var(--card-bg);
  color: var(--text);
}

button {
  padding: 12px 18px;
  background-color: var(--btn-bg);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: var(--btn-hover);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

li.fade-out {
  animation: fadeOut 0.4s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(30px);
  }
}

.task-text {
  flex: 1;
  margin-left: 12px;
  font-size: 16px;
  color: var(--text);
}

.completed {
  text-decoration: line-through;
  color: #aaa;
}

input[type="checkbox"] {
  transform: scale(1.4);
  margin-right: 10px;
  cursor: pointer;
}

li button {
  background-color: var(--delete-bg);
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

li button:hover {
  background-color: var(--delete-hover);
}